@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("//fonts.googleapis.com/earlyaccess/nanummyeongjo.css"); */

@font-face {
  font-family: "NanumMyeongjo";
  src: url("//fonts.googleapis.com/earlyaccess/nanummyeongjo.css");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NanumMyeongjoBold";
  src: url("//fonts.googleapis.com/earlyaccess/nanummyeongjo.css");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NanumMyeongjoExtraBold";
  src: url("//fonts.googleapis.com/earlyaccess/nanummyeongjo.css");
  font-weight: 800;
  font-style: normal;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
}
